Garment: Shirt
  Physical: Side-underarm
  Strip: 1
    Data: 5
    Clock: 4
    Logical: Side
      Length: 20
      Direction: 0
    Logical: Underarm
      Length: 15
      Direction: 0
    Logical: Underlowerarm
      Length: 10
      Direction: 0
    Logical: Cuff
      Length: 15
      Direction: 1
  Physical: Front-neck-upperarm
  Strip: 2
    Data: 10
    Clock: 9
    Logical: Front
      Length: 20
      Direction: 0
    Logical: Collar
      Length: 15
      Direction: 1
    Logical: Upper
      Length: 13
      Direction: 1
    Logical: Lower
      Length: 15
      Direction: 1
